<a href="https://colab.research.google.com/github/SUNGPYO-OH/Python_Tutorial/blob/main/03_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0(DataStructure)_%EB%AC%B8%EC%A0%9C%ED%8F%AC%ED%95%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료구조(DataStructure)

In [ ]:
toy1 = '우디'
toy2 = '버즈'
toy3 = '보'
toy4 = '포키'

생각1. toy 안에 다 담을 수 없을까?

## 리스트

In [ ]:
toy = [toy1, toy2, toy3, toy4]
toy

['우디', '버즈', '보', '포키']

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']
toy

['우디', '버즈', '포키', '보', '제시', '슬링키독']

생각2. 버즈만 지칭하고 싶다면?

첫번째는 0번째다. (두번째는? 1번째겠네요)

리스트이름[인덱스]

In [ ]:
toy[1] #두번째 데이터

'버즈'

In [ ]:
toy[0] # 첫번째 데이터

'우디'

In [ ]:
toy[-1] #끝번째 데이터

'슬링키독'

In [ ]:
toy[-2]

'제시'

In [ ]:
## 보는 몇번째일까요?
toy[3], toy[-3]

('보', '보')

#### 슬라이싱

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']
toy

['우디', '버즈', '포키', '보', '제시', '슬링키독']

첫번째 ~ 세번째 데이터 = 인덱싱 0~ 인덱싱 2 데이터 = 0:3

리스트이름[이상:미만:간격]

In [ ]:
toy[0:3]

['우디', '버즈', '포키']

양쪽 끝은 생략이 가능하다.

In [ ]:
toy[:3]

['우디', '버즈', '포키']

In [ ]:
toy[2:]

['포키', '보', '제시', '슬링키독']

In [ ]:
toy[:-2]

['우디', '버즈', '포키', '보']

In [ ]:
toy[-2:]

['제시', '슬링키독']

리스트 전체를 슬라이싱한다면?

In [ ]:
toy[0:6]

['우디', '버즈', '포키', '보', '제시', '슬링키독']

In [ ]:
toy[:] #toy[:-1]가 아니다.

['우디', '버즈', '포키', '보', '제시', '슬링키독']

In [ ]:
toy[:-1]

['우디', '버즈', '포키', '보', '제시']

생각4.
한칸씩 점프하면서 여러 토이를 지칭하고 싶다면?
[우디, 포키, 제시]

In [ ]:
toy[1:4:2] # [시작점:끝점+1:간격]

['버즈', '보']

직접 해보기 : 버즈랑 제시만 가져와보기

In [ ]:
# 직접 해보기 : 버즈랑 제시만 가져와보기
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']

# toy[1::3]

toy[-2::-3]

['제시', '버즈']

[이상 : 미만 : 간격]

생각5. toy라는 리스트 안에 새로운 데이터를 추가하고 싶다면?

#### 데이터 추가하기

- append : 1개/맨끝자리에  
- insert : 1개/원하는 자리에 (i : i번째(위치) 지정) 
- extend : 여러개/맨끝자리에 (e : 리스트로 묶어서)

In [ ]:
toy = ['우디', '버즈', '포키', '보']
toy

['우디', '버즈', '포키', '보']

In [ ]:
#제시를 추가하기
toy.append('제시')

In [ ]:
toy

['우디', '버즈', '포키', '보', '제시', '제시', '제시', '제시']

In [ ]:
# 피카츄 끝에다가 추가
toy.append('피카츄')

In [ ]:
toy

['우디', '버즈', '슬링키독', '포키', '보', '피카츄', '피카츄', '피카츄']

생각6. 새로운 데이터를 원하는 위치에 추가하고싶다면?

In [ ]:
toy = ['우디', '버즈', '포키', '보']
toy

['우디', '버즈', '포키', '보']

In [ ]:
toy.insert(2, '슬링키독')
toy

['우디', '버즈', '슬링키독', '포키', '보']

생각 7. 새로운 데이터 여러개를 한번에 추가하고 싶다면?

In [ ]:
#포테이토 헤드, 햄
toy.extend(['포테이토 헤드', '햄'])
toy

['우디',
 '버즈',
 '포키',
 '보',
 '제시',
 '제시',
 '제시',
 '제시',
 ['포테이토 헤드', '햄'],
 '포테이토 헤드',
 '햄']

In [ ]:
toy.append(['포테이토 헤드', '햄']) #추가 리스트 항목으로 추가 됌, append 와 extend 차이, 리스트"로" 추가되는것과 리스트"가" 추가되는것의 차이 설명 = ['포테이토 헤드', '햄'] 이 곧 '우디' 와 같이 1개의 리스트인 데이터가 됌
toy

['우디', '버즈', '포키', '보', '제시', '제시', '제시', '제시', ['포테이토 헤드', '햄']]

In [ ]:
toy[-1][0]

'포테이토 헤드'

#### 데이터 삭제하기

- remove : 데이터를 명시/같은이름의 데이터가 여러개일 경우, 가장 앞에 있는 데이터 1개 삭제  
- pop : 인덱스를 명시/삭제가 아니라 뽑아내는 것(해당 데이터를 반환)/인덱스 안적으면 -1(마지막 데이터 뽑아냄)  
- clear : 변수 내의 데이터 삭제  
- del : 변수 삭제/인덱스를 명시하여 해당 원소 삭제 가능

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']
toy

['우디', '버즈', '포키', '보', '제시', '슬링키독']

In [ ]:
# 우디를 제거하기
toy.remove('우디')
toy

['버즈', '포키', '보', '제시', '슬링키독']

In [ ]:
# pop(인덱스) 뽑기
toy.pop(-1)  
toy

['버즈', '포키', '보', '제시']

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']
pop = toy.pop(1)


print("pop이 뽑아낸 아이: ", pop)
print("pop을 실행하고 난 리스트 결과 : ", toy)

pop이 뽑아낸 아이:  버즈
pop을 실행하고 난 리스트 결과 :  ['우디', '포키', '보', '제시', '슬링키독']

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']
pop = toy[1]


print("인덱싱 뽑아낸 아이: ", pop)
print("인덱싱을 실행하고 난 리스트 결과 : ", toy)

인덱싱 뽑아낸 아이:  버즈
인덱싱을 실행하고 난 리스트 결과 :  ['우디', '버즈', '포키', '보', '제시', '슬링키독']

In [ ]:
# pop과 remove의 또하나의 차이
# 화장을 지우는 것(remove)과 눈썹을 뽑는 것(pop)의 차이
pop = toy.pop(2) #추가 toy 에서는 빠졌고 공중에 떠있는 상태가 됌
pop

'보'

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']

toy.clear()
toy

[]

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']

del toy[1]
toy

['우디', '포키', '보', '제시', '슬링키독']

In [ ]:
toy

['버즈', '포키', '제시']

In [ ]:
sell = [] #empty list
sell.append(toy.pop(1))
print('구매상품 : ', sell)
print('남은상품 :', toy)

구매상품 :  ['포키']
남은상품 : ['버즈', '제시']

In [ ]:
numbers = [1, 2, 3, 4, 5]
new = []

# numbers의 세번째 원소를 new 에 추가해보세요.

print(new)

# numbers의 마지막원소를 numbers에서 뽑아내서(numbers에서는 삭제), new에 추가해보세요.

new, numbers

[]

([], [1, 2, 3, 4, 5])

In [ ]:
#@title
numbers = [1, 2, 3, 4, 5]
new = []

# numbers의 세번째 원소를 new 에 추가해보세요.
new.append(numbers[2])
new

# numbers의 마지막원소를 numbers에서 뽑아내서(numbers에서는 삭제), new에 추가해보세요.
new.append(numbers.pop()) # == toy.pop() 위치를 명시하지 않으면, 마지막번째로 간주
new, numbers

([3, 5], [1, 2, 3, 4])

In [ ]:
#선생님 "구매상품: " 과 sell 사이에 ,는 왜 치는건가요?
# print 특강
print(1, 2, 3) 
print('a', 'b', 'c') # 여러개를 동시에 출력하고자 할때, 구분자가 ,(쉼표) 입니다. #추가 왜 구분을 하는가? 컴퓨터에게 말(코딩)을 해야하는데 구분을 하지않으면 아버지 가방에 들어가신다 와 같이 어법이 안맞음
print('구매상품 : ', sell) #'구매상품 : ' 랑 sell를 동시에 출력하고싶은거에요.

1 2 3
a b c
구매상품 :  ['포키']

In [ ]:
print('before : ', toy)
toy.clear()

print('after : ', toy)

before :  ['버즈', '제시']
after :  []

In [ ]:
toy.append('버즈')
toy.insert(1, '우디')
toy.extend(['제시', '보'])
toy

['버즈', '우디', '제시', '보']

In [ ]:
del(toy) # del toy : 이렇게 써도 됩니다.

In [ ]:
toy

NameError: ignored

In [ ]:
toy = ['우디', '버즈', '포키']
toy

['우디', '버즈', '포키']

In [ ]:
del toy[0]
toy

['버즈', '포키']

In [ ]:
del(toy[-1])
toy

['버즈']

### 리스트 추가 & 삭제
 - a
 - i
 - e

 - r
 - p
 - c
 - d

#### 리스트 정렬하기

In [ ]:
num = [5, 2, 4, 1]
num.sort()
num #크기 순으로 정렬

[1, 2, 4, 5]

In [ ]:
hero = ['토르', '아이언맨', '헐크', '캡틴아메리카']
hero

['토르', '아이언맨', '헐크', '캡틴아메리카']

In [ ]:
hero.sort()
hero # 사전식 기준 정렬

['아이언맨', '캡틴아메리카', '토르', '헐크']

In [ ]:
hero.sort(reverse=True)
hero

['헐크', '토르', '캡틴아메리카', '아이언맨']

hero는 그대로 두고, 새로운 변수를 만들어서 정렬시키고싶다면?

In [ ]:
hero = ['토르', '아이언맨', '헐크', '캡틴아메리카']
sorted(hero)

['아이언맨', '캡틴아메리카', '토르', '헐크']

In [ ]:
hero

['토르', '아이언맨', '헐크', '캡틴아메리카']

In [ ]:
# 새로운 변수에 대입하는 이유 = 원본이 변형되지 않기 때문에
hero_sorted = sorted(hero) # hero = sorted(hero) : 같은변수에 덮어쓰기를 하면 .sort()와 동일한 효과

print('hero:', hero)
print('sorted:', hero_sorted)

hero: ['토르', '아이언맨', '헐크', '캡틴아메리카']
sorted: ['아이언맨', '캡틴아메리카', '토르', '헐크']

In [ ]:
hero = ['토르', '아이언맨', '헐크', '캡틴아메리카']

hero_revsd = sorted(hero, reverse=True)
print(hero_revsd)

['헐크', '토르', '캡틴아메리카', '아이언맨']

리스트 안에 데이터가 몇개 들어있을까? (리스트의 길이가 궁금하다)

In [16]:
hero = ['토르', '아이언맨', '헐크', '캡틴아메리카']
hero

['토르', '아이언맨', '헐크', '캡틴아메리카']

In [ ]:
len(hero) # 리스트의 길이(length) = 원소의 개수

4

In [17]:
hero.extend(['스파이더맨', '앤트맨'])
hero

['토르', '아이언맨', '헐크', '캡틴아메리카', '스파이더맨', '앤트맨']

In [ ]:
len(hero)

6

'아이언맨'이 몇번째 자리에 있는지 궁금하다면?

In [ ]:
hero.index('아이언맨')

1

'아이언맨'이 총 몇개가 있는지 궁금하다면?

In [ ]:
hero.count('아이언맨')

1

앤트맨은 있을까?

In [ ]:
'앤트맨' in hero

True

#### 이외의 알아두면 좋은 것들

1. 리스트의 덧셈은 extend 다. (엄밀하게는 차이가 있다.)

In [ ]:
hero = ['iron-man', 'vision', 'spiderman']
extra_hero = ['captin', 'black-widow', 'blackpanser']

hero + extra_hero

['iron-man', 'vision', 'spiderman', 'captin', 'black-widow', 'blackpanser']

In [ ]:
hero = ['iron-man', 'vision', 'spiderman']
extra_hero = ['captin', 'black-widow', 'blackpanser']
print('원래 id :', id(hero)) #메모리 주소

hero = hero + extra_hero
print("덧셈 후 id : ", id(hero))
hero

원래 id : 140610446983568
덧셈 후 id :  140610447025008

['iron-man', 'vision', 'spiderman', 'captin', 'black-widow', 'blackpanser']

In [ ]:
hero = ['iron-man', 'vision', 'spiderman']
extra_hero = ['captin', 'black-widow', 'blackpanser']
print('원래 id :', id(hero))


hero.extend(extra_hero)
print("extend 후 id : ", id(hero))
hero

원래 id : 140610447943712
extend 후 id :  140610447943712

['iron-man', 'vision', 'spiderman', 'captin', 'black-widow', 'blackpanser']

2. 리스트의 곱셈은 복제다.

In [ ]:
# num = [1, 2, 3] -> [3, 6, 9] 를 만들고 싶다.
# num*3

In [ ]:
num = [1, 2, 3]
num = num*3 # num + num + num
num

[1, 2, 3, 1, 2, 3, 1, 2, 3]

3. 리스트는 다국적사회다.

In [ ]:
society = ['철수', 'Tom']
society.append(1)
society

['철수', 'Tom', 1]

In [ ]:
society.append(5.5)
society.append(True)

hero = ['아이언맨', '블랙팬서']
society.append(hero)
society, type(society)

(['철수', 'Tom', 1, 5.5, True, ['아이언맨', '블랙팬서']], list)

## 복습해볼까요?(1단계)

### 문제1
(1) 사과, 바나나, 레몬, 오렌지, 망고 원소를 담고 있는 리스트를 선언해보세요. (리스트 이름은 'fruit')

In [1]:
fruit = ['사과', '바나나', '레몬', '오렌지', '망고']

(2) 인덱싱을 통해 '바나나'를 출력하세요.

In [3]:
fruit[1]

'바나나'

(3) 슬라이싱을 통해 '사과', '레몬', '망고'만 출력하세요. (인덱싱에 주의할 것)

In [5]:
fruit[0:5:2]

['사과', '레몬', '망고']

(4) fruit 리스트에서 '바나나'를 '딸기'로 변경한 뒤, 리스트를 출력하세요.

In [6]:
fruit[1] = '딸기'
fruit

['사과', '딸기', '레몬', '오렌지', '망고']

### 문제2
다음과 같이 리스트 fruit에 데이터를 추가하려고 합니다.
> fruit = ['사과', '바나나', '레몬', '오렌지', '망고']

(1) 함수를 이용해서 아래와 같이 '메론'을 리스트에 추가하고 리스트를 출력하세요.

In [11]:
fruit = ['사과', '바나나', '레몬', '오렌지', '망고']
fruit.append('메론')
fruit

['사과', '바나나', '레몬', '오렌지', '망고', '메론']

(2) '사과'와 '바나나' 사이에 '딸기'를 추가한 뒤, fruit 리스트를 출력하세요.

In [12]:
fruit.insert(1,'딸기')
fruit

['사과', '딸기', '바나나', '레몬', '오렌지', '망고', '메론']

### 문제3
다음과 같이 리스트 cafe에 데이터를 추가하려고 합니다.
> cafe = ['coffee', 'tea', 'water']

(1) 리스트 ['juice', 'latte']를 cafe 리스트에 추가한 뒤, 아래와 같이 cafe를 출력해보세요.

In [19]:
cafe = ['coffee', 'tea', 'water']
#cafe.extend([['juice', 'latte']])
cafe.append(['juice','latte'])
cafe

['coffee', 'tea', 'water', ['juice', 'latte']]

(2) 이번에는 아래와 같이 리스트 ['juice', 'latte']를 처음 cafe 리스트에 추가한 뒤, cafe를 출력해보세요.

In [23]:
cafe = ['coffee', 'tea', 'water']
cafe.insert(0,['juice','latte'])
cafe

[['juice', 'latte'], 'coffee', 'tea', 'water']

### 문제4
다음과 같이 리스트 subject에서 데이터를 삭제하려고 합니다.
> subject = ['math', 'english', 'art', 'korean', 'music', 'science']

(1) remove를 사용하여 'korean'을 삭제한 뒤, 리스트를 출력하세요.

In [24]:
subject = ['math', 'english', 'art', 'korean', 'music', 'science']
subject.remove("korean")
subject

['math', 'english', 'art', 'music', 'science']

(2) del를 사용하여 'art'를 삭제한 뒤, 리스트를 출력하세요.

['math', 'english', 'music', 'science']

(3) pop을 사용하여 'science'를 새로운 변수(fav)에 저장한 뒤, 그 변수와 subject 리스트를 출력해보세요.

science
['math', 'english', 'music']

(4) subject 리스트의 모든 데이터를 지우고, subject를 출력해보세요.

[]

(5) subject 리스트 자체를 삭제해보세요. (삭제 후 subject 출력 시 에러가 발생되도록)

### 문제5
다음과 같이 무작위 정수가 들어 있는 리스트가 있다.
> num = [33, 53, 78, 23, 4, 64, 93, 80]

(1) num 리스트를 오름차순 정렬한 뒤, 리스트를 출력해보세요. 단, num 리스트는 정렬한 상태로 저장되어야 합니다.

In [ ]:
num = [33, 53, 78, 23, 4, 64, 93, 80]

[4, 23, 33, 53, 64, 78, 80, 93]

(2) sorted를 이용하여 오름차순으로 정렬한 num을 새로운 리스트 'new'에 저장한 뒤, new 리스트를 출력해보세요.

[4, 23, 33, 53, 64, 78, 80, 93]

### 문제6
다음과 같이 리스트 color가 있다.
> color = ['yellow', 'red', 'blue', 'red', 'green', 'pink', 'yellow']

(1) color 리스트 안에 데이터가 몇 개 들어있는지 출력해보세요.

In [ ]:
color = ['yellow', 'red', 'blue', 'red', 'green', 'pink', 'yellow']

7

(2) 'pink' 데이터가 몇 번째 요소에 있는지 출력해보세요.

5

(3) 'yellow' 데이터가 리스트 안에 몇 개 있는지 출력해보세요.

2

(4) 'black' 데이터가 color 리스트 안에 있는지 확인해보세요. (True/False로 출력되도록)

False

## Tuple

### 튜플의 특징

- 변형 시킬 수 X
- 괄호 쓸 필요 X
- 여러개를 어떤 괄호를 쓰지않고,  
쉼표로 구분하여 하나의 데이터로 반환하면 Tuple이다.

In [ ]:
ArbNight = ('알라딘', '자스민', '지니')
type(ArbNight)

tuple

In [ ]:
ArbNight.append('sultan')

AttributeError: ignored

In [ ]:
ArbNight = '알라딘', '자스민', '지니'
type(ArbNight)

tuple

In [ ]:
ArbNight

('알라딘', '자스민', '지니')

In [ ]:
ArbNight[0]

'알라딘'

In [ ]:
ArbNight[:2]

('알라딘', '자스민')

In [ ]:
Hero = ['아이언맨', '블랙팬서', '블랙위도우']
Hero[0] = '앤트맨'
Hero

['앤트맨', '블랙팬서', '블랙위도우']

리스트는 데이터를 변형할 수 있다.  
하지만, 튜플은 불가하다.

In [ ]:
ArbNight[0] = '아부' #TypeError: 'tuple' object does not support item assignment
ArbNight

TypeError: ignored

리스트에 사용하던 데이터 추가/삭제 기능을 모두 사용할 수 없다.

In [ ]:
ArbNight.append('아부') #AttributeError: 'tuple' object has no attribute 'append'
ArbNight.insert(1, '아부')
ArbNight.extend(['아부'])
ArbNight.remove('알라딘')
ArbNight.pop()
ArbNight.clear()
del ArbNight[-1]
ArbNight

AttributeError: ignored

튜플에 데이터를 추가하고 싶다면?

In [ ]:
ArbNight = ArbNight + ('아부', '자파') # 덧셈과 extend의 의미적 차이를 생각해보세요.
ArbNight

('알라딘', '자스민', '지니', '아부', '자파')

튜플의 데이터 변경, 삭제는 불가

이외의 다른 기능들은 리스트에서 사용하던 것들 그대로 사용할 수 있다.  
한번 되는 것과 안되는 것을 직접 시도해보고 숙지하자.

튜플을 다루는 일은 거의 없다.  
리스트 <-> 튜플 형변환이 가능하기 때문이다.

In [ ]:
ArbNight = list(ArbNight)
ArbNight

['알라딘', '자스민', '지니', '아부', '자파']

In [ ]:
ArbNight = tuple(ArbNight)
ArbNight

('알라딘', '자스민', '지니', '아부', '자파')

In [ ]:
# 직접 해보세요.
netflix = '지옥', '지금 우리 학교는', '오징어게임'
netflix

('지옥', '지금 우리 학교는', '오징어게임')

In [ ]:
# netflix에 원하는 드라마 두 개 추가해보세요.
# 1 덧셈 이용

In [ ]:
# netflix에 원하는 드라마 두 개 추가해보세요.
# 2 리스트 형변환 이용

In [ ]:
a = 1, 2
a, type(a)

((1, 2), tuple)

In [ ]:
a, b, c = 1, 2, 3
a, b, c, type(a)

(1, 2, 3, int)

### 문제7
다음과 같이 리스트 nation이 있다.
> nation = ['Korea', 'Japan', 'China']

(1) nation 리스트를 튜플 자료형으로 바꾼 뒤 출력해보세요.

In [ ]:
nation = ['Korea', 'Japan', 'China']

('Korea', 'Japan', 'China')

(2) nation에서 'Japan'을 인덱싱 해서 출력해보세요.

'Japan'

(3) nation에 'Italy', 'France'를 추가한 뒤, nation을 출력해보세요.

('Korea', 'Japan', 'China', 'Italy', 'France')

(4) nation에서 'China'를 삭제해보세요. 삭제가 가능한가요-?

In [ ]:
# nation.remove('China')
# nation.pop(2)
# del nation[2]

## Set(집합)

### Set의 특징

- 중복을 제거 (중복허용X)
- 순서 X (인덱싱 할 수 X)

In [ ]:
Company = ['네이버', '다음카카오', '삼성', 'LG', '네이버', '삼성']
len(Company)

6

리스트 안에 서로 다른 데이터가 총 몇개가 있을까?

In [ ]:
Company = set(Company)
Company

{'LG', '네이버', '다음카카오', '삼성'}

In [ ]:
len(Company)

4

In [ ]:
Company[0] # TypeError: 'set' object is not subscriptable

TypeError: ignored

리스트 안에 중복된 데이터가 들어가있을 경우, 중복제거하고 싶을 때 이렇게 한다.

In [ ]:
Company = ['네이버', '다음카카오', '삼성', 'LG', '네이버', '삼성', 'SK', 'SK', 'LG', '네이버', '롯데']
Company = list(set(Company))
Company

['롯데', 'LG', '네이버', '삼성', 'SK', '다음카카오']

### set 변환하기

1) 추가하기  
- add : 1개  
- update : 여러개

2) 삭제하기  
- remove : 1개/없는 걸 없애라고하면 key error  
- discard : 1개/없는 걸 없애라고해도 에러 X

In [ ]:
Company = {'삼성', '다음카카오', '네이버', 'LG', '롯데', 'SK'}
Company.add('현대')
Company
type(Company)

set

In [ ]:
Company.update(['포스코', 'GS']) #추가 리스트로 묶어서
Company

{'GS', 'LG', 'SK', '네이버', '다음카카오', '롯데', '삼성', '포스코', '현대'}

In [ ]:
Company.remove('롯데')
Company

{'GS', 'LG', 'SK', '네이버', '다음카카오', '삼성', '포스코', '현대'}

In [ ]:
Company.remove('롯데') #KeyError: '롯데'
Company

KeyError: ignored

In [ ]:
Company.discard('포스코')
Company

{'GS', 'LG', 'SK', '네이버', '다음카카오', '삼성', '현대'}

In [ ]:
Company.discard('포스코')
Company

{'GS', 'LG', 'SK', '네이버', '다음카카오', '삼성', '현대'}

In [ ]:
Company.discard('포스코')
Company

{'GS', 'LG', 'SK', '네이버', '다음카카오', '삼성', '현대'}

### 집합연산

In [ ]:
hero = ['아이언맨', '블랙위도우', '캡틴아메리카']
avengers = ['토르', '헐크', '아이언맨', '캡틴아메리카']

set(hero + avengers)

{'블랙위도우', '아이언맨', '캡틴아메리카', '토르', '헐크'}

In [ ]:
movie1 = {'ones', 'avengers', 'aladin'}
movie2 = {'avengers', 'aladin', 'toystory'}

In [ ]:
#합집합(또는)
movie1 | movie2 #movie1.union(movie2)

{'aladin', 'avengers', 'ones', 'toystory'}

In [ ]:
#교집합
movie1 & movie2 #movie1.intersection(movie2)

{'aladin', 'avengers'}

In [ ]:
#차집합
movie1 - movie2 #movie1.difference(movie2)

{'ones'}

In [ ]:
#대칭차집합
movie1^movie2

{'ones', 'toystory'}

### 문제8
다음과 같이 리스트 fruit이 있습니다.
> fruit = ['사과', '바나나', '레몬', '사과', '체리', '바나나']

(1) fruit 리스트를 set으로 변환하여 새로운 변수 'fruit_set'에 저장한 뒤 이를 출력해보세요.

In [ ]:
fruit = ['사과', '바나나', '레몬', '사과', '체리', '바나나']

{'레몬', '바나나', '사과', '체리'}

(2) fruit_set에  '망고'를 추가한 뒤, 출력해보세요. (추가된 위치도 확인해보세요~)

{'레몬', '망고', '바나나', '사과', '체리'}

(3) fruit_set에 '딸기', '블루베리'를 한 번에 추가한 뒤, 출력해보세요.

{'딸기', '레몬', '망고', '바나나', '블루베리', '사과', '체리'}

(4) fruit_set에 '사과'를 삭제한 뒤, 출력해보세요.

{'딸기', '레몬', '망고', '바나나', '블루베리', '체리'}

(5) fruit_set에 '수박'이 있다면 삭제하세요

{'딸기', '레몬', '망고', '블루베리', '체리'}

## Dictionary(사전)

### 딕셔너리의 특징

- 순서 X
- key와 value의 쌍으로 이루어져 있음

In [ ]:
#리스트
l = ['사과', '오렌지', '귤']
#튜플
t = ('사과', '오렌지', '귤')
#셋
s = {'사과', '오렌지', '귤'}

#사과 : 가격 , 오렌지 : 가격, 귤 : 가격
d = {'사과' : 1000, "오렌지": 900, '귤': 300}

{'귤': 300, '사과': 1000, '오렌지': 900}

In [ ]:
per_info = {'이름': '이소연', '직업': '강사'}
per_info

{'이름': '이소연', '직업': '강사'}

In [ ]:
per_info['이름'], per_info['직업']

('이소연', '강사')

사전에는 순서가 없기 때문에, 원하는 밸류를 조회하려면 키값으로 조회해야 한다.  
per_info라는 사전에 어떤 키값들이 있는지를 알아야 할텐데?

In [ ]:
# 딕셔너리에 key값들을 조회하기
per_info.keys()
# per_info.keys
# per_info.key()
# per_info.key

dict_keys(['이름', '직업'])

In [ ]:
type(per_info.keys())

dict_keys

In [ ]:
list(per_info.keys())

['이름', '직업']

In [ ]:
per_info.values()

dict_values(['이소연', '강사'])

In [ ]:
type(per_info.values())

dict_values

In [ ]:
per_info.items()

dict_items([('이름', '이소연'), ('직업', '강사')])

In [ ]:
type(per_info.items())

dict_items

In [ ]:
per_keys = list(per_info.keys())
per_vals = list(per_info.values())
per_itms = list(per_info.items())
print(per_keys)
print(per_vals)
print(per_itms)

['이름', '직업']
['이소연', '강사']
[('이름', '이소연'), ('직업', '강사')]

이렇게 키, 밸류, 아이템에 접근하고, 다룰 수 있다는 것을 잘 기억해두자. 나중에 쓸일이 종종 있다.


딕셔너리에서 '이소연'를 조회하고 싶다면?

In [ ]:
per_info['이름'] #value 지칭을 key값으로

'이소연'

#### 데이터 추가 & 변경하기

추가메서드가 없다.

In [ ]:
per_info = {'이름': '이소연', '직업': ['개발자', '강사']}
per_info

{'이름': '이소연', '직업': ['개발자', '강사']}

In [ ]:
per_info['이름'], per_info['직업']

('이소연', ['개발자', '강사'])

In [ ]:
per_info['전공']

KeyError: ignored

In [ ]:
#전공 데이터 추가
per_info['전공'] = '통계학' # a = '통계학'
per_info

{'이름': '이소연', '전공': '통계학', '직업': ['개발자', '강사']}

In [ ]:
# 취미 : 볼링 추가
per_info['취미'] = '볼링' 
per_info

{'이름': '이소연', '전공': '통계학', '직업': ['개발자', '강사'], '취미': '볼링'}

In [ ]:
# 국적 : 한국 추가
per_info['국적'] = '한국' 
per_info

{'국적': '한국', '이름': '이소연', '전공': '통계학', '직업': ['개발자', '강사'], '취미': '볼링'}

In [ ]:
#전공분야 변경
per_info['전공'] = '머신러닝' # a = '머신러닝' 
per_info

{'국적': '한국', '이름': '이소연', '전공': '머신러닝', '직업': ['개발자', '강사'], '취미': '볼링'}

In [ ]:
# 취미 : 볼링 -> 코딩 변경
per_info['취미'] = '코딩' 
per_info

{'국적': '한국', '이름': '이소연', '전공': '머신러닝', '직업': ['개발자', '강사'], '취미': '코딩'}

In [ ]:
# 국적 : korea 로 수정해보기
per_info['국적'] = 'Korea' 
per_info

{'국적': 'Korea', '이름': '이소연', '전공': '머신러닝', '직업': ['개발자', '강사'], '취미': '코딩'}

딕셔너리에 새로운 데이터를 추가하거나 기존 데이터를 변경하는 것은 모두 **그냥 선언하면 된다**   
-> 없으면 생기고, 있으면 바뀐다.

In [ ]:
per_info = {'이름': '이소연', '직업': '강사'}
per_info

{'이름': '이소연', '직업': '강사'}

In [ ]:
len(per_info)

2

빈딕셔너리 선언

In [ ]:
sample_list = [] # empty list
sample_tuple = () # empty tuple
sample = {} # empty set일까 empty dict일까

In [ ]:
type(sample)

dict

In [ ]:
data = {} #empty dic [] = empty list / () = empty tuple / {}
#key = name / value = 자신의 이름
data['이름'] = '이소연'
data['MBTI'] = 'ESTP'
data

{'MBTI': 'ESTP', '이름': '이소연'}

In [ ]:
# 응용 : 딕셔너리의 밸류를 리스트로 저장하기
data = {}
#data = {name : [방XX, 이XX, 곽XX, ...]}
data['name'] = []
data

{'name': []}

data['name'] -> [] : 빈리스트

In [ ]:
#name 에 자신의 이름을 추가해보세요.
data['name'].append('이소연')

#name 에 자신의 팀원들 이름을 한번에 추가해보세요.
data['name'].extend(['신XX', '홍xx'])
data['name']

['이소연', '신XX', '홍xx']

In [ ]:
# 기본 - 연습 : 딕셔너리에 키-밸류(빈리스트 사용 X) 추가 
MyInfo = {}

# MyInfo 에 취미 : [독서, 여행] 추가 

# Myinfo 에 나이 : 23 추가

In [ ]:
# 응용 - 연습 : 딕셔너리의 밸류에 리스트를 선언 -> 리스트 변형 메서드 사용
MyInfo = {}

# 여행지 : [] 선언

# 여행지에 스위스 추가

# 여행지에 [독일, 인도네시아] 추가

# 여행지에서 독일 삭제

#### 데이터 삭제하기

In [ ]:
per_info = {'이름': '이소연', 
            '직업': ['개발자', '강사'], 
            '전공분야' : '머신러닝', 
            '취미': ['볼링', '탁구', '수영'], 
            '거주지': '서울'}
per_info

{'거주지': '서울',
 '이름': '이소연',
 '전공분야': '머신러닝',
 '직업': ['개발자', '강사'],
 '취미': ['볼링', '탁구', '수영']}

In [ ]:
hobby = per_info.pop('취미') #index 대신 key , 이미 per_info.pop['취미'] 자체가 list 이기에 따로 지정없이 바로 list 명령 가능인가???
per_info

In [ ]:
hobby

In [ ]:
del(per_info['거주지']) #del per_info['거주지']
per_info

{'이름': '이소연', '전공분야': '머신러닝', '직업': ['개발자', '강사']}

In [ ]:
per_info.clear() # clear 마찬가지
per_info

{}

In [ ]:
del per_info

### 딕셔너리 in 용법

앞에서 감을 잡았을지 모르겠지만, 딕셔너리에서는 Value가 아니라, Key가 메인이다.  
'학교'라는 단어의 사전적 의미가 궁금하다고 가정해보자.  
그럼 사전에서 '학교'라는 단어를 검색하지 않겠는가.  
여기서 '학교' = key , '학교'에 대한 사전적 설명 = value 에 해당한다.  
  
즉, 딕셔너리에서 in 용법을 쓸 때는 당연하게도(?) key값으로 검색해야 한다.

In [ ]:
per_info = {'이름': '이소연', '직업': ['개발자', '강사'], '전공분야' : '머신러닝', '취미': ['볼링', '탁구', '수영']}
per_info

{'이름': '이소연', '전공분야': '머신러닝', '직업': ['개발자', '강사'], '취미': ['볼링', '탁구', '수영']}

In [ ]:
# 딕셔너리의 키값들 중 원하는 하나만 뽑고 싶을 때
list(per_info)[0]

'이름'

In [ ]:
'이름' in per_info

True

In [ ]:
'특기' in per_info

False

In [ ]:
'취미' in per_info

True

In [ ]:
#응용(딕셔너리용법이 아니라 리스트용법)
'독서' in per_info['취미']

False

### 문제9
다음과 같이 음료 이름과 가격 데이터가 담긴 딕셔너리 menu가 있습니다.
> menu = {'커피' : 3000, '차' : 4000, '쉐이크' : 5000}

(1) menu 딕셔너리의 key만 출력해보세요.

In [ ]:
menu = {'커피' : 3000, '차' : 4000, '쉐이크' : 5000}

dict_keys(['커피', '차', '쉐이크'])

(2) menu 딕셔너리의 value만 출력해보세요.

dict_values([3000, 4000, 5000])

(3) menu의 key 값들을 새로운 변수 'name'에 리스트 형태로 저장한 뒤, name을 출력해보세요.

['커피', '차', '쉐이크']

(4) menu에서 '쉐이크'의 가격은 얼마인지 조회해보세요.

5000

(5) '쉐이크'의 가격을 6000으로 변경한 뒤, menu를 출력해보세요.

{'쉐이크': 6000, '차': 4000, '커피': 3000}

(6) 새로운 데이터 '프라푸치노'와 가격 5000을 menu에 추가한 뒤, menu를 출력해보세요.

{'쉐이크': 6000, '차': 4000, '커피': 3000, '프라푸치노': 5000}

### 문제10
다음과 같이 과목별 3개의 성적 데이터가 담긴 딕션너리 'score'가 있습니다.
> score = {'math' : [80, 75, 90], 'english' : [95, 80, 100], 'science' : [85, 100, 90], 'korean' : [100, 90, 85]}

(1) pop을 이용하여 'math'의 value를 새로운 리스트 'math_score'에 저장한 뒤 math_score를 출력해보세요.

In [ ]:
score = {'math' : [80, 75, 90], 
         'english' : [95, 80, 100], 
         'science' : [85, 100, 90], 
         'korean' : [100, 90, 85]}

[80, 75, 90]

(2) del를 이용하여 'science' key를 삭제한 뒤, score를 출력해보세요.

{'english': [95, 80, 100], 'korean': [100, 90, 85]}

(3) score의 'korean' key에 95가 있는지 확인해보세요. (False가 출력되어야 합니다)

False

### 아래와 같은 NaverWebtoon을 빈딕셔너리를 이용해 만들어보자.

In [ ]:
data = {} #empty dic / [] = empty list / () = empty tuple / {} 
#key = name / value = 자신의 이름
data['작가'] = 'SIU'
data['성격'] = '외향적임'
data

{'성격': '외향적임', '작가': 'SIU'}

In [ ]:
#1) 
#  NaverWebtoon =  [
#                 {'작가': 'SIU', '평점': '9.94', '제목': '신의 탑'},
#                 {'작가': '조용석', '평점': '9.82', '제목': '뷰티풀 군바리'},
#                 {'작가': '영파카', '평점': '9.92', '제목': '니편내편'}
#                  ]

In [ ]:
#풀이를 보지않고, 직접 코드를 작성해보자
NaverWebtoon = [{}, {}, {}] # 세개의 딕셔너리를 묶은 리스트

# 첫번째 딕셔너리에 
# 작가 : SIU 추가

# 평점 : 9.94 추가

# 제목 : 신의 탑 추가


# 두번째 딕셔너리에 
# 작가 : 조용석 추가

# 평점 : 9.82 추가

# 제목 : 뷰티풀 군바리 추가


# 세번째 딕셔너리에 
# 작가 : 영파카 추가

# 평점 : 9.92 추가

# 제목 : 니편내편 추가

##### 풀이

In [ ]:
#@title
NaverWebtoon = [{}, {}, {}]

In [ ]:
#@title
NaverWebtoon[0]

{}

In [ ]:
#@title
NaverWebtoon[0]['작가'] = 'SIU'
NaverWebtoon[0]['평점'] = '9.94'
NaverWebtoon[0]['제목'] = '신의 탑'
NaverWebtoon

[{'작가': 'SIU', '제목': '신의 탑', '평점': '9.94'}, {}, {}]

In [ ]:
#@title
NaverWebtoon[1]['작가'] = '조용석'
NaverWebtoon[1]['평점'] = '9.82'
NaverWebtoon[1]['제목'] = '뷰티풀 군바리'
NaverWebtoon

[{'작가': 'SIU', '제목': '신의 탑', '평점': '9.94'},
 {'작가': '조용석', '제목': '뷰티풀 군바리', '평점': '9.82'},
 {}]

In [ ]:
#@title
NaverWebtoon[2]['작가'] = '영파카'
NaverWebtoon[2]['평점'] = '9.92'
NaverWebtoon[2]['제목'] = '니편내편'
NaverWebtoon

[{'작가': 'SIU', '제목': '신의 탑', '평점': '9.94'},
 {'작가': '조용석', '제목': '뷰티풀 군바리', '평점': '9.82'},
 {'작가': '영파카', '제목': '니편내편', '평점': '9.92'}]

#### 응용

In [ ]:
## 2) {'작가': ['SIU', '조용석', '영파카'],
#      '평점': ['9.94', '9.82', '9.92'],
#      '제목': ['신의 탑', '뷰티풀', '니편내편']}

In [ ]:
NaverWebtoon = {}
# 딕셔너리 세개의 키값과 세개의 밸류 []를 추가 
# 작가 : []
# 평점 : []
# 제목 : []

# 작가에 작가 하나씩 추가


# 평점에 평점 하나씩 추가


# 제목에 제목 하나씩 추가

##### 풀이

In [ ]:
#@title

NaverWebtoon = []
NaverWebtoon.append({'작가' : ['SIU', '조용석', '영파카']})
NaverWebtoon.append({'평점' : ['9.94', '9.82', '9.92']})
NaverWebtoon.append({'제목' : ['신의 탑', '뷰티풀', '니편내편']})
NaverWebtoon

[{'작가': ['SIU', '조용석', '영파카']},
 {'평점': ['9.94', '9.82', '9.92']},
 {'제목': ['신의 탑', '뷰티풀', '니편내편']}]

### 부산 맛집

In [ ]:
busan_taste = {}

busan_taste['칠성돌곱창'] = {'추천메뉴' : '곱창', '웨이팅' : '보통'} 
busan_taste['톤쇼우'] = {'추천메뉴' : '돈가스', '웨이팅' : '길다'}
busan_taste['웍헤이'] = {'추천메뉴' : ['쌀국수', '구름새우'], '웨이팅' : '길다'}
busan_taste['가야공원'] = {'추천메뉴' : '돼지국밥', '웨이팅' : '보통'}
busan_taste['장전돼지국밥'] = {'추천메뉴' : '수육백반', '웨이팅' : '보통'}
busan_taste

{'가야공원': {'웨이팅': '보통', '추천메뉴': '돼지국밥'},
 '웍헤이': {'웨이팅': '길다', '추천메뉴': ['쌀국수', '구름새우']},
 '장전돼지국밥': {'웨이팅': '보통', '추천메뉴': '수육백반'},
 '칠성돌곱창': {'웨이팅': '보통', '추천메뉴': '곱창'},
 '톤쇼우': {'웨이팅': '길다', '추천메뉴': '돈가스'}}

In [ ]:
busan_taste['톤쇼우']['추천메뉴']

'돈가스'

In [ ]:
busan_taste['톤쇼우']['웨이팅']

'길다'

## 난이도업! (2단계)

#### 문제1
아래와 같이 음악 재생 리스트 popsong이 있습니다.
> popsong = ['Virtual Insanity', 'Say something', 'Love Me Trough The Night', 
           'Love Me Trough The Night', 'Skyfall', 'Say something', 'Skyfall', 
           'Love Me Trough The Night', 'Skyfall', 'Virtual Insanity', 
           'Viva La Vida', '1000x', 'Life Goes On', 'Say something',
           'Life Goes On', 'Viva La Vida','Virtual Insanity', 'Life Goes On']

(1) popsong 리스트에서 중복된 노래를 삭제한 뒤, 다시 popsong 리스트를 출력해보세요.(리스트 형식 유지)

In [ ]:
popsong = ['Virtual Insanity', 'Say something', 'Love Me Trough The Night', 
           'Love Me Trough The Night', 'Skyfall', 'Say something', 'Skyfall', 
           'Love Me Trough The Night', 'Skyfall', 'Virtual Insanity', 
           'Viva La Vida', '1000x', 'Life Goes On', 'Say something',
           'Life Goes On', 'Viva La Vida','Virtual Insanity', 'Life Goes On']

['Life Goes On',
 'Viva La Vida',
 '1000x',
 'Skyfall',
 'Love Me Trough The Night',
 'Virtual Insanity',
 'Say something']

(2) index를 이용하여 '1000x' 데이터가 몇 번째 요소에 있는지 출력해보세요.

2

(2) popsong 리스트에서 '1000x'를 삭제하고, 'music'이라는 이름의 리스트로 옮기려고 합니다. 

append, pop, index를 모두 이용해서 코드 한 줄로 작성해보세요.

In [ ]:
music = []

# 아래에 코드 한 줄로 입력



print('재생음악 :', popsong)
print('삭제된음악 :', music)

재생음악 : ['Viva La Vida', 'Virtual Insanity', 'Life Goes On', 'Say something', 'Skyfall', 'Love Me Trough The Night']
삭제된음악 : ['1000x']

###문제2
아래와 같이 이름, 나이, 연락처, 직업 정보를 담고있는 딕셔너리가 있습니다.
 > info = {'홍길동' : ['27', '010-1234-1234', '학생'],
           '전우치' : ['20', '010-5678-5678', '직장인'],
           '김철수' : ['22', '010-4321-4321', '무직'] }

(1) '김철수'를 '김영희'로 변경한 뒤, info를 출력해보세요.

In [ ]:
info = {'홍길동' : ['27', '010-1234-1234', '학생'],
        '전우치' : ['20', '010-5678-5678', '직장인'],
        '김철수' : ['22', '010-4321-4321', '무직'] }

{'김영희': ['22', '010-4321-4321', '무직'],
 '전우치': ['20', '010-5678-5678', '직장인'],
 '홍길동': ['27', '010-1234-1234', '학생']}

(2) 문자열로 저장되어 있는 각 사람의 나이 데이터를 정수형으로 바꾼 뒤, info를 출력해보세요.

{'김영희': [22, '010-4321-4321', '무직'],
 '전우치': [20, '010-5678-5678', '직장인'],
 '홍길동': [27, '010-1234-1234', '학생']}

### 문제3
다음과 같이 과일 이름과 색깔, 가격 정보가 담긴 리스트 3개가 있습니다.
> name = ['사과', '바나나', '귤', '블루베리', '복숭아']

> color = ['red', 'yellow', 'orange', 'blue', 'pink']

> price = [3000, 4000, 7000, 8000, 5000]

(1) 같은 위치에 있는 데이터끼리 짝지어 과일에 따른 색깔, 가격 정보가 담긴 딕셔너리를 만드려고 합니다.

{'name' : ['color', price]} 형태의 딕셔너리를 만든 뒤, 출력해보세요. (인덱스활용)

In [ ]:
fruit = ['사과', '바나나', '귤']
color = ['red', 'yellow', 'orange']
price = [3000, 4000, 7000]

# name['사과'] = ['red', 3000] 말고 다른 방법 사용하기!

{'귤': ['orange', 7000], '바나나': ['yellow', 4000], '사과': ['red', 3000]}