<a href="https://colab.research.google.com/github/SUNGPYO-OH/Python_Tutorial/blob/main/04_%EC%A1%B0%EA%B1%B4%EB%AC%B8(Condition)__%EB%AC%B8%EC%A0%9C%ED%8F%AC%ED%95%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문(Condition)

특정 조건을 만족할 때만 수행되었으면 하는 코드가 있다면?

In [ ]:
a = 5
b = 6
print("a는 b보다 크다") #A가 B보다 클 경우에만 실행되었으면 좋겠다.

a는 b보다 크다

## If A : 만약에 A라면 
-> A는 조건

In [ ]:
a > b

False

In [ ]:
a, b = 8, 6
if a > b:
    print("a는 b보다 크다")

a는 b보다 크다

In [ ]:
a = '강아지'
 
if a == '강아지':
    print("나는 강아지가 좋아")

나는 강아지가 좋아

만약 '우디'가 toy 리스트 안에 포함되어 있다면, toy리스트에서 우디를 제거하세요

In [ ]:
'우디' in toy

True

In [ ]:
toy = ['우디', '버즈', '포키', '보', '제시', '슬링키독']

if '우디' in toy:
    toy.remove("우디")

toy

['버즈', '포키', '보', '제시', '슬링키독']

### 문제1
다음과 같이 전화번호가 담긴 문자열이 있다.

앞 3자리가 '031'로 시작하면 '수원시 전화번호입니다'를 출력하세요.

In [ ]:
number = '031-123-1234'
# number = '032-123-1234'

031
수원시 전화번호입니다

## else : 그렇지 않다면

생각2. 특정 조건을 만족하지 못할 경우에만 실행되어야 하는 코드는?

In [ ]:
a, b = 3,3
if a > b: 
    print("a는 b보다 크다.")
else:
    print("a는 b보다 크지 않다.")

a는 b보다 크지 않다.

## elif B : 그렇지 않고 B라면
생각3. 특정 조건을 만족하지 못하지만, 또 다른 조건은 만족하는 경우에는?

In [ ]:
a, b = 6, 6
if a > b:
    print('a는 b보다 크다')
elif a < b:
    print('a는 b보다 작다')
else:
    print('a는 b와 같다')

a는 b와 같다

In [ ]:
a , b = 6, 6

if a > b :
    print("a는 b보다 크다")
else:
    if a < b:
        print("a는 b보다 작다")
    else:
        print("a는 b와 같다")

a는 b와 같다

- elif는 개수 제한이 없습니다!

In [ ]:
# 학점 계산
score = int(input("점수를 입력하세요 : "))

if score >= 90 : 
    grade = "A입니다"

elif score >= 80 :
    grade = "B입니다"

elif score >= 70:
    grade = "C입니다"
 
elif score >= 60 :
    grade = "D입니다"

else:
    grade = "Fail"

print(grade)

점수를 입력하세요 : 90
A입니다

### 문제 : 가위바위보

tom이 가위를 냈을 때, emma의 선택에 따라 올바른 승부결과를 출력하도록 코드를 작성해보세요.

In [ ]:
tom = '가위' #tom이 가위를 냈다고 가정
emma = '바위' #'가위', '보'

# 승부 결과를 제대로 출력하도록 코드를 작성해보세요.

# 응용 : 조건문 안에 조건문

생각4. 특정 조건을 만족했을 때, 또 다른 조건을 확인하고 싶다면?    
if A라면:  
    -> if B 라면:  
       -> C를 해줘

In [ ]:
# a가 b보다 크지 않은 경우까지 완성해보세요.
a, b, c = 5, 4, 7

if a > b:
    print('a는 b보다 크고,')
    if a > c:
        print('c보다 크다')
    else:
        print('c보다 크지 않다')

a는 b보다 크고,
c보다 크지 않다

## 응용 : and와 or 연산을 이용한 조건문

In [ ]:
# 세 정수 중 가장 큰 수 구하기 

a, b, c = 5, 7, 8

if a > b and a > c:
    print('가장 큰 수는', a)
elif a > c :
    print('가장 큰 수는', b)
else:
    print('가장 큰 수는', c)

가장 큰 수는 8

In [ ]:
a, b, c = 5, 7, 8

if a > b or a > c :
    print('a는 b보다 크거나 c보다 크다.')

### 문제
다음과 같이 변수 num이 있을 때, 1보다 크고 100보다 작으면 'pass'를 출력하는 코드를 작성해보세요.

In [ ]:
num = 55

pass

# 영화 예매 버전(심화)

## If A : 만약에 A라면
예시) 보고 싶은 영화의 잔여석이 0이 아니라면, 티켓요금을 안내하는 문구를 출력하는 코드를 만들어보자.

In [ ]:
movie_info = {'기생충' : {'잔여석': 28,
                       '티켓요금' : 11000}}

# 기생충의 잔여석을 출력해보세요

생각 1. 특정 조건을 만족할 경우메나 수행되어야 하는 코드는 어떻게 처리해야 할까?

In [ ]:
my_movie = '기생충'


# if 조건 : 조건이 참이라면
    print("예매 도와드리겠습니다.")
    print("티켓요금은", fare, "원 입니다.")

In [ ]:
#@title
seat = movie_info[my_movie]['잔여석']
fare = movie_info[my_movie]['티켓요금']

if seat != 0 : # if 조건 : 조건이 참이라면
    print("예매 도와드리겠습니다.")
    print("티켓요금은", fare, "원 입니다.")

예매 도와드리겠습니다.
티켓요금은 11000 원 입니다.

## else : 그렇지 않다면

생각2. 특정 조건을 만족하지 못할 경우에만 수행되어야 하는 코드는?

예시) 보고 싶은 영화의 잔여석이 0이 아니라면 티켓 요금을 안내해주고,
잔여석이 0이라면 죄송하다는 문구를 띄워주는 코드를 만들어보자.

In [ ]:
movie_info = {'기생충' : {'잔여석' : 28,
                        '티켓요금' : 11000},
              '밀정' :  {'잔여석' : 0,
                        '티켓요금' : 11000}}

In [ ]:
# my_movie = '기생충'
my_movie = '밀정'

seat = movie_info[my_movie]['잔여석']
fare = movie_info[my_movie]['티켓요금']

seat, fare

In [ ]:
#if (조건): = (조건)이 참이라면
    print('예매 도와드리겠습니다.')
    print('티켓요금은', fare, '입니다.')

# 조건이 참이 아니라면 : 
    print('죄송합니다.')
    print('잔여석이 없습니다.')

In [ ]:
#@title
if seat != 0: #if (조건): = (조건)이 참이라면
    print('예매 도와드리겠습니다.')
    print('티켓요금은', fare, '입니다.')
else:
    print('죄송합니다.')
    print('잔여석이 없습니다.')

죄송합니다.
잔여석이 없습니다.

## elif B : 그렇지 않고 B라면
생각3. 특정 조건을 만족하지 못하지만, 다른 조건을 만족하는 경우에는? 

가장 보고 싶은 영화의 잔여석을 먼저 확인해서 잔여석이 있으면 티켓요금을 안내해주고,  
그렇지않고, 두번째 보고 싶은 영화의 잔여석은 있다면 두번째 영화의 티켓요금을 안내해주고,
그렇지도 않다면 죄송하다는 문구를 띄워주도록 코드를 작성해보자

In [ ]:
movie_info = {'기생충' : {'잔여석' : 28,
                        '티켓요금' : 11000},
              '밀정' :  {'잔여석' : 0,
                        '티켓요금' : 11000}}

In [ ]:
my_movie = ['밀정', '기생충']

seat = [movie_info[my_movie[0]]['잔여석'], movie_info[my_movie[1]]['잔여석']] 
fare = [movie_info[my_movie[0]]['티켓요금'], movie_info[my_movie[1]]['티켓요금']]

print('seat : ', seat)
print('fare : ', fare)

In [ ]:
#if A가 참이라면 :
  print(my_movie[0], '예매 도와드리겠습니다.')
  print('티켓요금은', fare[0], '입니다.')

# A가 참이 아니고 B라면 : 
  print('죄송합니다.')
  print(my_movie[0], '잔여석이 없습니다.')
  print('대신,', my_movie[1], '예매 도와드리겠습니다.')
  print('티켓요금은', fare[1], '입니다.')

# A도 아니고 B도 아니라면 : 
  print('죄송합니다.')
  print(my_movie[0], my_movie[1], '모두 잔여석이 없습니다.')

In [ ]:
#@title
if seat[0] != 0: #if (조건): = (조건)이 참이라면
  print(my_movie[0], '예매 도와드리겠습니다.')
  print('티켓요금은', fare[0], '입니다.')
elif seat[1] != 0:
  print('죄송합니다.')
  print(my_movie[0], '잔여석이 없습니다.')
  print('대신,', my_movie[1], '예매 도와드리겠습니다.')
  print('티켓요금은', fare[1], '입니다.')
else:
  print('죄송합니다.')
  print(my_movie[0], my_movie[1], '모두 잔여석이 없습니다.')

죄송합니다.
밀정 잔여석이 없습니다.
대신, 기생충 예매 도와드리겠습니다.
티켓요금은 11000 입니다.

## 응용 : 조건문 안에 조건문

생각 4. 특정 조건을 만족한 경우에, 또 다른 조건을 확인하고자 한다면?  
if A:   
-> if B:

In [ ]:
# 둘의 차이 비교
# if A and B:

# if A:
#     if B:

먼저, 보고싶은 영화가 원하는 시간대에 있는지 확인하고, 있다면 잔여석을 확인해주는 코드를 작성해보세요.

In [ ]:
movie_info = {'기생충' :  {
                          '티켓요금' : 11000,
                          '7:00' : 28,
                          '10:00' : 0
                        },
              '밀정' :  {
                          '티켓요금' : 11000,
                          '7:30' : 23,
                          '10:30' : 102
                        }
              }

In [ ]:
# 기생충의 키 중에 "7:00"이 있는지 확인하려면?

True

In [ ]:
my_movie = '기생충'
my_time = '7:00'

if my_time in movie_info[my_movie]:
    print(my_movie, my_time, '영화 있습니다')

    if movie_info[my_movie][my_time]: 
        print(my_movie, "예매 도와드리겠습니다.")
        print("티켓요금은", movie_info[my_movie]['티켓요금'], '입니다')
        
    else:
        print("죄송합니다")
        print("잔여석이 없습니다")
else:
    print("죄송합니다.")
    print(my_movie, '영화는', my_time, '시간대가 없습니다.')

기생충 7:00 영화 있습니다
기생충 예매 도와드리겠습니다.
티켓요금은 11000 입니다

## 여행 추천 버전 (독립조건)

취미가 여행이라면, 나라를 추천해주되, 다녀온적이 있는 나라는 제외하고 추천해주는 코드를 작성해보세요.

In [ ]:
per_info = {
    '아이디' : '소연',
    '취미' : '여행',
    '여행지' : ['미국','일본']
}

recommend = ['일본', '인도네시아', '프랑스']

# 코드작성

In [ ]:
#@title
if per_info['취미'] == '여행':
    # 미국, 일본이 추천국가에 있는지 없는지 각각 확인해서, 있으면 삭제, 없으면 패스
    if '미국' in recommend:
        recommend.remove('미국')
    if '일본' in recommend:
        recommend.remove("일본")
    
    print('여행이 취미인', per_info['아이디'],'님에게 ', recommend, ' 여행을  추천합니다.')

여행이 취미인 소연 님에게  ['인도네시아', '프랑스']  여행을  추천합니다.

### 조건문 활용하기 위한 용법 정리
    1) 다중 조건문(if, elif, ~~, else)  
        말로 정리했을 때, 그렇지 않고

    2) 중첩(계층) 조건문(if 안에 if)  
        말로 정리했을 때, 그러면. 그리고

    3) 독립 조건문(별개의 조건문의 나열)
        말로 정리했을 때, 별개로, 독립적으로, 각각

비교 연산자

In [ ]:
a, b, c = 0, '', []
print(bool(a), bool(b), bool(c))

False False False

In [ ]:
## 조건에 숫자, 문자, 리스트를 넣을 수 있을까?
### if 조건 : 조건의 결과값이 True(참)이라면 이라고 읽기!

a = 0 
if a:
    print(a)
else:
    print('a 는 0입니다.')

b = '' 
if b:
    print(b)
else:
    print('b에는 값이 없습니다.')


c = [] 
if c:
    c.pop()
else:
    c.append('a')
    print(c)

a 는 0입니다.
b에는 값이 없습니다.
['a']

if A: A라면 (x) A의 결과가 True라면 (O)

In [ ]:
# a가 홀수인지 짝수인지 판단하는 코드
a = 4 # 0 제외

# 짝수면 2로 나눈 나머지 == 0 -> a%2 == 0

if a%2:
    print('홀수')
else:
    print('짝수')

짝수

In [ ]:
# a 리스트가 빈리스트일 경우는 무조건 원소 0을 추가하고 그렇지 않을때는 패스 

a = []

if a:
    pass
else:
    a.append(0)

# if not a:
#     a.append(0)

## 난이도업!(2단계)

### 문제1
다음과 같이 주민번호가 담긴 문자열이 있다.

여성의 주민번호일 때 '여성'을 출력하고, 남성의 주민번호일 땐 '남성'을 출력하는 코드를 작성하세요.

(7번째 짜리 숫자가 1 또는 3 이면 남자, 2 또는 4이면 여자)

In [ ]:
id = '210101-1231234'

남성

### 문제3
다음과 같이 리스트가 있을 때, 리스트 안에 데이터가 1개 이상이면 '리스트 안에 데이터는 총 __개 입니다'를 출력하고,

데이터가 0개면 '리스트 안에 데이터가 없습니다'를 출력하는 코드를 작성하세요.

In [ ]:
lists = [10, 30, 20, 40, 32, 50, 55, 50, 32, 84, 40, 88, 99, 100]

14

### 문제6
나이가 20살인지와 성별에 따라 각각 '미성년자 남성', '성인 남성', '미성년자 여성', '성인 여성'을 출력하는 코드를 작성하세요.

In [ ]:
id = ['홍길동', '14', '남자']

### 문제10
바나나를 사려고 하는데, 가진 돈이 5000원 밖에 없다.

바나나의 가격이 5000원을 넘으면 '구매가 불가능합니다'라고 출력하고,

5000원 이하면 '구매가능합니다'가 출력되도록 코드를 작성하세요.

In [ ]:
fruit = {'사과' : '5000', '바나나' : '7000', '망고' : '8000'} #가격 자료형 유의!

구매가 불가능합니다

### 문제 11
다음과 같이 4개의 성적이 담긴 리스트 score가 있다.

4개 성적의 평균이 60점 이상이고, 각 점수에 40점 미만의 점수가 없어야 '합격'일 때,

합격인지 불합격인지 출력하는 코드를 작성하세요.

In [ ]:
score = [55, 90, 80, 35]

불합격

### 문제12
다트를 던져서 50점과 가까울수록 높은 점수를 매긴다 할 때,

45점 이상 55점 미만일 때 '+10점',

40점 이상 60 미만일 때 '+7점',

30점 이상 70점 미만일 때 '+5점'을 출력하는 코드를 작성하세요.

In [ ]:
score = 43

+7점

### 문제2
사과 2개, 망고 3개, 수박 1개를 사려고 한다.

살 수 없는 과일을 출력하고, 살 수 있는 과일은 구입할 갯수와 가격을 계산해 총 가격을 출력해보세요.(코드 형식 무관)

In [ ]:
fruit = {'사과' : '5000', '바나나' : '7000', '망고' : '8000'}
apple = 2
mango = 3
watermelon = 1

price = 0